*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #5b6c5d;
}

#game-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 60px;
  color: #56e39f;
}

#computer button,
#real button {
  width: 50px;
  height: 50px;
  border: 2px #56e39f solid;
  background-color: #59c9a5;
}

#computer,
#real {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px #56e39f solid;
}

#real .hit,
#computer .hit:hover,
#computer .hit {
  background-color: #ef6f6c;
}

.miss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.miss div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #5b6c5d;
}

#computer button:hover {
  background-color: gray;
}

#real .ship,
#real .ship-hover {
  background-color: #5b6c5d;
}

#position {
  background-color: #59c9a5;
  border: 2px #56e39f solid;
  padding: 5px 25px;
  color: #5b6c5d;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
}

dialog{
  background-color: #59c9a5;
  border: 2px #56e39f solid;
  color: #5b6c5d;
  font-size: 40px;
  border-radius: 10px;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}
